.sitecontainer{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f8f8;
}
.header-wrap{
    background-color: #32d0b1;
    width: 100%;
    height: 100vh;
    position: relative;
}
.navtop{
    display: flex;
}
.navi-bar{
    flex: 1;
    align-self: center;
}
.navi-bar ul{
    padding-top: 20px;
}
.navi-bar a{
    text-decoration: none;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0 0 0 50px;

}
.navi-bar li{
    display: inline-flex;
}
.nav-menu a:nth-child(1){
    padding: 0;
}
.nav-menu a:hover{
    color: rgba(0, 0, 0, 0.78);
}
.logo{
    padding: 25px 0 0 37px;
    width: 44%;
}
.header-bottom{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 100px;
}
.header-text{
    width: 45%;
    position: absolute;
    left: 7.6%;
    top: 23%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.header-text h3{
    margin: 0 0 20px 0;
    font-size: 2.1em;
    font-weight: 300;
 }
.header-text h1{
    font-size: 6em;
    font-weight: 300;
}
.inside-hover{
    width: 176px;
    height: 56px;
    outline: 1px solid white;
    margin: 50px 0 0 0;
    text-align: center;
    background-color: initial;
}
.text-btn{
    background-color: initial;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 19px;
}
.onhover{
    background-color: rgba(255, 255, 255, 0.52);
    transition: all 0.5s ease-in-out;

}
.onhover1{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.header-img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header-img img{
    width: 80%;
    height: 100%;
}
/*end header*/
/***********************

 */
/*first-block start*/
.first-block{
    width: 100%;
    position: relative;
    background-color: #f8f8f8;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.title{
    margin: 0 0 100px 0;
    text-align: center;
    padding: 100px 0 0 0;
}
.title h2{
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 30px 0;
}
.title p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.3em;
    color: rgba(122, 122, 122, 0.72);
    font-weight: 100;
}
.img-wrap {
    display: flex;
    justify-content: center;
}
.img-wrap img{
    width: 100%;
}
.img2{
    align-self: flex-end;
    margin-left: -59px;
    margin-right: 15px;
}
.img4{
    margin-left: 15px;
}
.img5{
    align-self: center;
    margin-left: -60px;
    margin-top: 188px;
}
.img1,.img2{
    text-align: left;
}
.img3{
    text-align: center;
}
.img-description{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    letter-spacing: 2px;
}
/*first-block end*/
/********************
 */
.second-block{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    padding: 100px 0 0 0;
    position: relative;
}
.img-circle{
    opacity: 0.3;
    width: 75%;
}
.img-circle img{
    width: 40%;
}
.second-title{
    position: absolute;
    width: 62%;
    top: 33%;
    right: 172px;
}
.second-title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    line-height: 80px;
    font-weight: 300;
}
.second-title p{
    width: 100%;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    line-height: 37px;
    font-size: 1.3em;
    font-weight: 300;
}
/*second block end*/
/*******************
 */
.third-block{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}
.third-text{
    width: 36%;
}
.third-imgwrap{
    display: flex;
}
.third-imgwrap img{
    width: 100%;
}
.third-img2,.third-img3{
    align-self: flex-end;
}
.third-img1{
    order: 2;
    align-self: flex-end;
}
.third-img2{
    order: 1;
}
.third-img3{
    order: 3;
}
.third-text h2{
    padding: 182px 0 0 0;
    font-size: 3.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.third-text p{
    width: 90%;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    line-height: 37px;
    font-size: 1.3em;
    font-weight: 300;
}
/*third-block end*/
/**********************
 */
.forth-block{
    padding: 150px 0 150px 0;
    text-align: center;
}
.forth-text h2{
    font-size: 3.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.forth-text p{
    width: 62%;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    line-height: 37px;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 30px;
}
.forth-imgwrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.forth-imgwrap img{
    width: 100%;
    box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.2);
}
/*forth-block end*/
/*********************
 */
.fith-block{
    text-align: center;
    padding: 0 0 150px 0;
}
.fith-text h2{
    font-size: 3.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.fith-text p{
    width: 73%;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    line-height: 37px;
    font-size: 1.3em;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 30px;
}
.fith-imgwrap{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 60px 0 60px;
    flex-wrap: wrap;
}
/*fith-block end*/
/***********************
 */
.six-block{
    text-align: center;
    padding-bottom: 80px;
}
.six-text h2{
    font-size: 3.0em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 100px;
    line-height: 67px;
}
.six-text span{
    color: #32d0b1;
}
.service-listwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 152px;
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
    font-size: 1.3em;
    font-weight: 300;
}
.service-listwrap div{
    width: 170px;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}
.service-listwrap img{
    margin-bottom: 10px;
}
/*six-block end*/
/******************
 */
.seven-block {
    display: flex;
    padding-bottom: 225px;
}
.seven-text{
    width: 50%;
    padding: 0 100px;
}
.seven-text h2{
    padding: 100px 0 0 0;
    font-size: 3.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.seven-text p{
    width: 90%;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    line-height: 37px;
    font-size: 1.3em;
    font-weight: 300;
}
.seven-imgwrap{
    width: 50%;
    position: relative;
}
.seven-imgwrap img{
    width: 50%;
}
.seven-imgwrap img:nth-child(2){
    position: absolute;
    right: 89px;
    top: 79px;
}
/*seven-block end*/
/******************
 */
.eight-block{
    text-align: center;
    padding-bottom: 142px;
}
.eight-text h2{
    padding: 100px 0 0 0;
    font-size: 3.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.eight-imgwrap{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.eight-imgwrap img{
    display: flex;
}
.eight-imgwrap h3{
    margin:0 0 20px 0;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.eight-imgwrap p{
    font-family: 'Roboto', sans-serif;
    width: 92%;
    font-size: 1.2em;
    line-height: 34px;
    color: #8c8c8c;
    font-weight: 300;
}
/*eight-block end */
/*********************
 */
.nine-block{
    background-image: url("../images/nine-blockimg1.jpg");
    width: 100%;
    background-repeat: no-repeat;
    padding: 192px;
    background-size: cover;
}
.nine-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: right;
}
.nine-text h2{
    width: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 4.3em;
    font-weight: 300;
    color: white;
}
.nine-text button{
    width: 157px;
    height: 57px;
    margin-top: 25px;
    margin-right: 250px;
    background-color: initial;
    border: 1px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.copy{
    font-family: 'Roboto', sans-serif;
    color: #8c8c8c;
    font-size: 0.8em;
    padding: 17px 0;
    text-align: center;
}
/*footer end*/


































